/* Genel Ayarlar */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f8ff;
    color: #333;
}

/* Header */
header {
    background-color: #0077b6;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

/* Main İçerik */
main {
    padding: 20px;
}

h2 {
    color: #023e8a;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* CTA */
.cta {
    margin-top: 20px;
    padding: 20px;
    background-color: #90e0ef;
    text-align: center;
}

.cta a {
    color: #03045e;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #0077b6;
    color: #fff;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    header {
        padding: 20px 10px;
    }

    main {
        padding: 10px;
    }

    .cta {
        padding: 15px;
    }
}
