<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evde Su Tasarrufu Nasıl Yapılır? | Su Tasarrufu Rehberi</title>

    <meta
      name="description"
      content="Evde su tasarrufu nasıl yapılır? Banyodan mutfağa, günlük hayatta su tüketimini azaltmanın en etkili ve pratik yollarını öğrenin."
    />

    <!-- ! Favicon -->
    <link rel="icon" href="img/favicon.png" type="image/x-icon" />

    <!-- ! Fontawesome CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- ! Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- ! Bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <!-- ! External CSS -->

    <link rel="stylesheet" href="static/css/style.css" />

    <!--    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  </head>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-H1T1KNFZSS"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-H1T1KNFZSS");
  </script>

  <body>
    <main>
      <h1>Evde Su Tasarrufu Nasıl Yapılır?</h1>
      <p>
        Evde su tasarrufu yapmak, yalnızca faturaları düşürmek için değil; aynı
        zamanda su kaynaklarını korumak için de önemlidir.
      </p>
      <h2>Musluk Perlatörü İşe Yarıyor mu?</h2>
      <p>
        Musluk perlatörü, musluktan akan suya hava karıştırarak suyun daha az
        kullanılmasını sağlayan küçük bir aparattır...
      </p>
      <h2>Rezervuar Su Tasarrufu Ayarı Nasıl Yapılır?</h2>
      <p>
        Tuvalet rezervuarları, evdeki su tüketiminin önemli bir bölümünü
        oluşturur...
      </p>
      <h2>Duş Alırken Minimum Su Kullanımı Nasıl Sağlanır?</h2>
      <p>Duş almak, evde en çok su harcanan aktivitelerden biridir...</p>
      <h2>Evde Su Tasarrufu İçin Küçük Ama Etkili Değişiklikler</h2>
      <p>Evde su tasarrufu için büyük yatırımlar şart değildir...</p>
      <p>    <a
      class="nav-link font-weight-bold fs-5"
      href="{{ url_for('index') }}"
      title="Anasayfa"
      >Anasayfa</a
    ></p>
    </main>

    <!-- ansayfalinki -->

  </body>
</html>
